.b6
{
	width: 100%;
	height: 350px;
}
.b6 img
{
   width: 100%;
   height: 350px;
   object-fit: cover;
}
.overlay
{
	width: 100%;
	height: 350px;
	background-color: rgba(127,102,255,0.5);
	position: relative;
	top: -353px;
	overflow: hidden;
}